* {
  text-align: center; }

#weather {
  width: 248px;
  margin: 0 auto 20px;
  text-align: center;
  padding: 10px;
  background-size: contain;
  background-repeat: no-repeat; }
  #weather.clear {
    background-color: #d3dfee;
    background-image: url("http://vortex.accuweather.com/adc2010/images/icons-numbered/04-l.png"); }
  #weather.cloudy {
    background-image: url("http://vortex.accuweather.com/adc2010/images/icons-numbered/07-l.png"); }
  #weather.partly-cloudy {
    background-image: url("http://vortex.accuweather.com/adc2010/images/icons-numbered/06-l.png"); }
  #weather.rainy {
    background-image: url("http://vortex.accuweather.com/adc2010/images/icons-numbered/18-l.png"); }
  #weather.sunny {
    background-image: url("http://vortex.accuweather.com/adc2010/images/icons-numbered/04-l.png"); }

#current-condition {
  font-size: 1.417em; }

#current-temp {
  font-size: 5.833em;
  font-weight: 400; }

#forecast {
  font-size: .833em; }

/*# sourceMappingURL=style.css.map */
